.navbar{
	margin-bottom:0;
}

.row{
  margin-left:0;
  margin-right:0;
}

.kim{
  padding:3%;
  img{
  width:100%
  }
  h3{
  text-align:center;
  }
}

/*fotter*/
.background {
  background-color:#00BCD4;
}

img.imagen {
  width: 50px;
}

p.parrafo {
  color: teal;
}

h2 {
  color: white;
  text-align: center;
  font-size: 25px;
}

.social {
  text-align: center;
}

.container.fotter {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}